body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
}
header{
    border-bottom: 1px solid #E7E9FC;
}
ul,ol{
    list-style-type: none;
}
a{
    font-size: 12px;
    line-height: 16px;
}
h1{
    font-weight: 700;
    font-size: 56x;
    line-height: 60px;
    letter-spacing: 0.02em;
}
h2{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
}
h3{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
}
address a{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
nav a {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
footer{
    background-color: #2E2F42;
    color: #F4F4FD;
}
.section-hero{
    color: #FFF;
    background-color: #2E2F42;
    text-align: center;
}
.logo-half-head{
    color: #2E2F42;;
}
.logo-half-foot{
    color: #F4F4FD;
}
.logo-link {
    color: #4D5AE5;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
}
.nav-link {
    text-decoration: none;
}
.address-link {
    text-decoration: none;
}
.page-title {}
.section-title {}
.list-title {}
.hero-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
}
.section-ourteam{
    width: 1440;
    background-color: #F4F4FD;
}
.team-list{
}
.team-item{
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    text-align: center;
}