.body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #434455;
    background-color: #FFFFFF;
}
ul,ol{
    list-style-type: none;
}
/* #region --header-- */
.logo-half-head{
    color: #2E2F42;
}
.logo-link {
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
}
.logo-link:hover,.logo-link:focus{
color: #404bbf;
}
.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.nav-link:hover,.nav-link:focus{
    color: #404bbf;
}
.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}
.address-link:hover,.address-link:focus{
    color: #404bbf;
}
.address{
    font-style: normal;
}
/* #endregion */
/* #region --main-- */
/* #region --hero-- */
.page-title{
    font-weight: 700;
    font-size: 56x;
    line-height: 60px;
    letter-spacing: 0.02em;
}
.section-hero{
    color: #FFF;
    background-color: #2E2F42;
    text-align: center;
}
.hero-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
}
.hero-button:hover,.hero-button:focus{
    background-color: #404BBF;
}
/* #endregion */
/* #region --advantages-- */
.section-advantages{
    color: #2e2f42;
}
.advantages-item .list-text {
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion */
/* #region --our team-- */
.section-ourteam{
    background-color: #F4F4FD;

}
.team-item{
    background-color: #FFFFFF;
    text-align: center;
}
/* #endregion */
.section-title {
    line-height: 1.11;
    text-transform: capitalize;
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
}
.list-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;

}
.list-text{
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion */
/* #region --footer-- */
.footer{
    background-color: #2E2F42;
    color: #F4F4FD;
}
.footer-text{
    letter-spacing: 0.02em;
}
.logo-half-foot{
    color: #F4F4FD;
}
/* #endregion */
